{% extends "main.html" %}

{% block tabs %}
  {{ super() }}

  <style>.md-header{position:initial}.md-main__inner{margin:0}.md-content{display:none}@media screen and (min-width:60em){.md-sidebar--secondary{display:none}}@media screen and (min-width:76.25em){.md-sidebar--primary{display:none}}</style>

  <section class="mdx-container">
    <div class="md-grid md-typeset">
      <div class="mdx-hero">
        <div class="mdx-hero__image">
          <img src="images/cover.png" alt="" width="1659" height="1200" draggable="false">
        </div>
        <div class="mdx-hero__content">
          <div class="image-container">
            <img src="images/openterface-mini-kvm-v1-9-s.png" alt="Openterface Mini-KVM Product" width="460" draggable="false">
          </div>
          <a href="{{ 'https://www.crowdsupply.com/techxartisan/openterface-mini-kvm' | url }}" title="Pre Order" class="md-button md-button--primary">
            注文する <img src="images/trademark/crowd-supply.svg" alt="Crowd Supply" style="vertical-align: middle; height: 26px;">
          </a>
          <!-- <a href="{{ 'https://www.crowdsupply.com/techxartisan/openterface-mini-kvm' | url }}" title="Pre Order" class="md-button md-button--primary"></a>
            Order NOW! <img src="images/trademark/txa.svg" alt="txa" style="vertical-align: middle; height: 26px;">
          </a> -->
          <a href="{{ 'https://www.crowdsupply.com/techxartisan/usb-kvm-diy-challenge-2024' | url }}" title="Challenge" class="md-button" style="background-color: #ff4500; color: #fff; font-weight: bold; border: 2px solid #ff4500; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); animation: pulse 1.5s infinite;">
            DIYチャレンジ
          </a>
          <p>Build your own <strong>USB KVM</strong> & win incredible prizes! 🏆</p>
          <!-- <p>Order NOW on <img src="images/trademark/crowd-supply.svg" alt="Crowd Supply" style="vertical-align: middle; height: 26px;"> for shipping by Jan 17, 2025</p> -->
          <!-- <p><a href="{{ 'https://www.crowdsupply.com/techxartisan/usb-kvm-diy-challenge-2024' | url }}" style="text-decoration: underline;"><strong>Join USB KVM Contest</strong></a> & win incredible prizes!</p> -->
        </div>
      </div>
    </div>
  </section>

  <section class="dialogue-section-white" id="app">
    <h2>ホストアプリのインストール</h2>
    <div class="container">
        <img src="/images/product/win_qt_app.jpg" alt="ポスター画像" class="poster-image-shadow">
    </div>
    <div class="callout-button-container">
        <div class="dialogue-bubble" id="op-bubble">
            <img src="/images/trademark/win.svg" alt="アバター" class="avatar" draggable="false">
            <p>Windows</p>
            <a href="https://github.com/TechxArtisanStudio/Openterface_QT/releases/download/{{ config.extra.qt_version }}/openterfaceQT.windows.amd64.installer.exe" class="md-button md-button--primary" id="join-waitlist-button">インストーラー {{ config.extra.qt_version }}</a>
            <a href="https://github.com/TechxArtisanStudio/Openterface_QT/releases/download/{{ config.extra.qt_version }}/openterfaceQT-portable.exe" class="md-button md-button--primary" id="join-waitlist-button">ポータブル EXE {{ config.extra.qt_version }}</a>
        </div>
        <div class="dialogue-bubble" id="op-bubble">
            <img src="/images/trademark/app-store.svg" alt="アバター" class="avatar" draggable="false">
            <p>macOS</p>
            <a href="/appstore" class="md-button md-button--primary" id="join-waitlist-button">App Store v{{ config.extra.macos_version }}</a>
        </div>
        <div class="dialogue-bubble" id="op-bubble">
            <img src="/images/trademark/linux.svg" alt="アバター" class="avatar" draggable="false">
            <p>Linux</p>
            <a href="https://github.com/TechxArtisanStudio/Openterface_QT/releases/download/{{ config.extra.qt_version }}/openterfaceQT.linux.amd64.deb" class="md-button md-button--primary" id="join-waitlist-button">AMD64 DEB {{ config.extra.qt_version }}</a>
            <a href="https://github.com/TechxArtisanStudio/Openterface_QT/releases/download/{{ config.extra.qt_version }}/openterfaceQT.linux.amd64.rpm" class="md-button md-button--primary" id="join-waitlist-button">AMD64 RPM {{ config.extra.qt_version }}</a>
            <a href="https://github.com/TechxArtisanStudio/Openterface_QT/releases/download/{{ config.extra.qt_version }}/openterfaceQT.linux.arm64.deb" class="md-button md-button--primary" id="join-waitlist-button">ARM64 DEB {{ config.extra.qt_version }}</a>
            <a href="https://github.com/TechxArtisanStudio/Openterface_QT/releases/download/{{ config.extra.qt_version }}/openterfaceQT.linux.arm64.rpm" class="md-button md-button--primary" id="join-waitlist-button">ARM64 RPM {{ config.extra.qt_version }}</a>
            <a href="https://github.com/TechxArtisanStudio/Openterface_QT" class="md-button md-button--primary" id="join-waitlist-button">ソースコード</a>
        </div>
        <div class="dialogue-bubble" id="op-bubble">
            <img src="/images/trademark/android.svg" alt="アバター" class="avatar" draggable="false">
            <p>Android</p>
            <a href="https://github.com/TechxArtisanStudio/Openterface_Android/releases/download/{{ config.extra.android_version }}/OpenterfaceAndroid-release.apk" class="md-button md-button--primary" id="join-waitlist-button">apk {{ config.extra.android_version }}</a>
        </div>
    </div>
    <p>さらに<a href="/app" style="color: var(--md-primary-fg-color);">詳しく</a>。</p>
  </section>

  <section class="product-close-up" id="product-close-up">
    
    <div class="container">

      <div class="product-close-up-content">
        <div class="product-image">
          <img src="images/product/use-case-demo-respberry-pi.jpg" alt="Product Close-up">
        </div>
        <div class="product-description">
          <p>Openterface Mini-KVMであなたの技術ツールキットを強化しましょう：
            <strong>コンパクトで多機能、オープンソースのKVM-over-USB</strong>ソリューションが、IT作業やトラブルシューティングを簡単にします。
          </p>
        </div>
      </div>
  
      <div class="product-close-up-content reverse-layout">
        <div class="product-image">
          <img src="/images/product/use-case-demo-industrial-pc.jpg" alt="Pre Launch Poster">
        </div>
        <div class="product-description">
          <p> <strong>余分なモニター、キーボード、マウスとはお別れしましょう！</strong>
            あなたのノートパソコンをHDMIとUSBで接続して、どんなヘッドレスデバイスも簡単に操作できるスマートKVMコンソールに変身させましょう。
          </p>
        </div>
      </div>
    </div>

  </section>

  <section class="icon-section" id="icon">
    <div class="icon-container">
        <h2>特徴</h2>
        <div class="icon-grid">
            <div class="icon-item">
              <img src="images/feature-icons/icon-plug-and-play.svg#only-light" alt="Plug and Play Icon">
              <img src="images/feature-icons/icon-plug-and-play-d.svg#only-dark" alt="Plug and Play Icon">
              <p>プラグアンドプレイ</p>
            </div>
            <div class="icon-item">
                <img src="images/feature-icons/icon-bios-access.svg#only-light" alt="BIOS Access Icon">
                <img src="images/feature-icons/icon-bios-access-d.svg#only-dark" alt="BIOS Access Icon">
                <p>BIOSアクセス</p>
            </div>
            <div class="icon-item">
                <img src="images/feature-icons/icon-network-free.svg#only-light" alt="Network Free Icon">
                <img src="images/feature-icons/icon-network-free-d.svg#only-dark" alt="Network Free Icon">
                <p>ネットワーク不要</p>
            </div>
            <div class="icon-item">
                <img src="images/feature-icons/icon-text-transfer.svg#only-light" alt="Text Transfer Icon">
                <img src="images/feature-icons/icon-text-transfer-d.svg#only-dark" alt="Text Transfer Icon">
                <p>テキスト転送</p>
            </div>
            <div class="icon-item">
                <img src="images/feature-icons/icon-usb-switch.svg#only-light" alt="USB Switch Icon">
                <img src="images/feature-icons/icon-usb-switch-d.svg#only-dark" alt="USB Switch Icon">
                <p>USBスイッチ</p>
            </div>
            <div class="icon-item">
              <img src="images/feature-icons/icon-more.svg#only-light" alt="More Icon">
              <img src="images/feature-icons/icon-more-d.svg#only-dark" alt="More Icon">
              <p>さらに<a href="/features" style="color: var(--md-primary-fg-color);">詳しく</a></p>
          </div>
        </div>
    </div>
  </section>

  <section class="feature-dev-test" id="feature-dev-test">
    <div class="container">
      <h2>一目でわかる特徴</h2>
      <div class="videos-wrapper">
        <div class="video-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/hOSP7je8zSk?si=0-EaGGhkf9oBbO0j" title="Introduction Video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="video-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/mfUd-YqVJSY?si=JWje9zsy_KFHY4eb" title="Beta App for Windows" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="video-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/1iTaDp24PBI?si=SdgnIUW52Ks8VhGn" title="Product Review" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </section>

  <section class="twitter-feed-section" id="twitter-feed">
    <div class="container">
      <h2>最新のツイート</h2>
      <div class="twitter-posts">
        <blockquote class="twitter-tweet">
          <p lang="ja" dir="ltr">Openterface Mini-KVMは「最大1920x1080@30Hzのビデオ出力をサポートし、遅延は140ミリ秒未満」なのでゲームもいける。Nintendo Switchに接続してみたが体感的にも遅延を感じないレベル。音も出ます。USB接続のHDMIキャプチャとしても優秀。 <a href="https://twitter.com/hashtag/PR?src=hash&amp;ref_src=twsrc%5Etfw">#PR</a> <a href="https://t.co/93vKEmKmjR">pic.twitter.com/93vKEmKmjR</a></p>
          &mdash; matsuu (@matsuu) <a href="https://twitter.com/matsuu/status/1842440088229478435?ref_src=twsrc%5Etfw">October 5, 2024</a>
        </blockquote>
        <blockquote class="twitter-tweet">
          <p lang="ja" dir="ltr">これは恐らく想定外の使われ方にドン引きしていると思われるOpenterface Mini-KVMくん <a href="https://t.co/gszCM1a9px">https://t.co/gszCM1a9px</a> <a href="https://t.co/qZn2dsBRUv">pic.twitter.com/qZn2dsBRUv</a></p>
          &mdash; うんちゃま (@tsukkkkkun) <a href="https://twitter.com/tsukkkkkun/status/1836702683845341553?ref_src=twsrc%5Etfw">September 19, 2024</a>
        </blockquote>
        <blockquote class="twitter-tweet"><p lang="ja" dir="ltr">本当にありがとうございます！🙏✨ Veulxさんの素晴らしいツイートのおかげで、私たちの製品が多くの方に届くことを心から嬉しく思います。🐵💖 これからも努力してまいりますので、引き続き応援いただけると幸いです〜🧑‍🔧🦾🫡 <a href="https://t.co/Xdr1oVeADe">https://t.co/Xdr1oVeADe</a></p>
          &mdash; Gibbyの冒険 (@Openterface) <a href="https://twitter.com/Openterface/status/1832027435254346206?ref_src=twsrc%5Etfw">September 6, 2024</a>
        </blockquote>
        <blockquote class="twitter-tweet">
          <p lang="ja" dir="ltr">こういうおもちゃをいじる時Openterface Mini-KVMがあるとマジで捗るんだよな(ステマ <a href="https://t.co/AmsAe01Rj2">https://t.co/AmsAe01Rj2</a> <a href="https://t.co/4s6zCWigfG">pic.twitter.com/4s6zCWigfG</a></p>
          &mdash; Kazubu (@_kazubu) <a href="https://twitter.com/_kazubu/status/1828454779875701044?ref_src=twsrc%5Etfw">August 27, 2024</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </section>
  
  <section class="blog" id="blog">
    <div class="container">
      <h2>注目のトピック</h2>
      <div class="blog-list">
        <div class="post">
          <h3><a href="blog/diy%E3%83%81%E3%83%A3%E3%83%AC%E3%83%B3%E3%82%B8%E3%81%AB%E6%8C%91%E6%88%A6%E3%81%97%E3%81%BE%E3%81%9B%E3%82%93%E3%81%8Boshwa%E3%81%AE%E3%82%B7%E3%83%A7%E3%83%BC%E3%83%86%E3%83%AB%E3%81%A7%E3%81%8A%E4%BC%9A%E3%81%84%E3%81%97%E3%81%BE%E3%81%97%E3%82%87%E3%81%86/">DIYチャレンジに挑戦しませんか？OSHWAのショー＆テルでお会いしましょう！</a></h3>
          <p class="date">24/10/01</p>
        </div>
        <div class="post">
          <h3><a href="/blog/ハードルを乗り越えて進捗報告と新しいタイムライン/">ハードルを乗り越えて：進捗報告と新しいタイムライン</a></h3>
          <p class="date">24/08/23</p>
        </div>
        <div class="post">
          <h3><a href="/blog/ティアダウンから生産へ前進しています/">ティアダウンから生産へ：前進しています！</a></h3>
          <p class="date">24/07/16</p>
        </div>
      </div>
      <a href="{{ '/blog' | url }}" title="もっと読む" class="md-button md-button--primary read-more-btn">
        もっと読む
      </a>
    </div>
  </section>


{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
  {{ super() }}
{% endblock %}