# Project information
site_name: Openterface Mini-KVM | ノートパソコンをKVMコンソールに変える
site_url: https://jp.openterface.com/
site_author: Billy Wang
site_description: 機能豊富でオープンソース、コミュニティ主導のKVM-over-USBソリューション

# Repository
repo_name: Openterface
repo_url: https://github.com/TechxArtisan/Openterface

# Copyright
copyright: >-
  著作権 © 全ての権利を保有。2023 <a href="https://jp.openterface.com">Openterface MiniKVM</a>, 広州比利奥科技有限公司<br>
  <a href="">ホーム</a> |
  <a href="/terms-of-service">利用規約</a> |
  <a href="/privacy-policy">プライバシーポリシー</a> | 
  <a href="#__consent">クッキー設定</a> | 
  <a href="/contact">お問い合わせ</a>

extra_css:
  - assets/stylesheets/extra.css

# extra_javascript:
#   - assets/javascripts/extra.js

# Configuration
theme:
  name: material
  custom_dir: docs/overrides
  language: ja
  font:
    text: Roboto
    code: Roboto Mono
  logo: assets/logo.png
  favicon: images/favicon.png
  features:
   - navigation.tabs
   - navigation.sections
   - navigation.top
   - navigation.footer
   - navigation.indexes
   - toc.integrate
   - search.suggest
   - search.highlight
   - content.tabs
   - content.code.annotation
   - content.code.copy
  palette:
    primary: deep orange
    accent: custom

extra:
  social:
    - icon: txa/crowd-supply-icon
      link: https://www.crowdsupply.com/techxartisan/openterface-mini-kvm
    - icon: fontawesome/brands/reddit-alien
      link: https://www.reddit.com/r/Openterface_miniKVM/
    - icon: fontawesome/brands/youtube
      link: https://youtube.com/@TechxArtisan
    - icon: fontawesome/brands/x-twitter
      link: https://twitter.com/TechxArtisan
    - icon: fontawesome/brands/facebook-f
      link: https://www.facebook.com/TechxArtisan
    - icon: fontawesome/brands/linkedin-in
      link: https://www.linkedin.com/company/techxartisan/
    # - icon: fontawesome/brands/discord
    #   link: https://discord.gg/skfExqDD
    # - icon: fontawesome/brands/github-alt
    #   link: https://github.com/TechxArtisan
  
  alternate:
    - name: English
      link: https://openterface.com/
      lang: en
    # - name: 中文简体
    #   link: https://zh.openterface.com/
    #   lang: zh
    # - name: 中文繁體
    #   link: https://tw.openterface.com/
    #   lang: zh-Hant
    - name: 日本語
      link: https://jp.openterface.com/
      lang: ja
    # - name: 한국어
    #   link: https://kr.openterface.com/
    #   lang: ko
    # - name: Français
    #   link: https://fr.openterface.com/
    #   lang: fr
    # - name: Deutsch
    #   link: https://de.openterface.com/
    #   lang: de
    # - name: Italiano
    #   link: https://it.openterface.com/
    #   lang: it
    # - name: Español
    #   link: https://es.openterface.com/
    #   lang: es
    # - name: Português
    #   link: https://pt.openterface.com/
    #   lang: pt
    # - name: Svenska
    #   link: https://sv.openterface.com/
    #   lang: sv
    # - name: Polski
    #   link: https://pl.openterface.com/
    #   lang: pl
    # - name: Nederlands
    #   link: https://nl.openterface.com/
    #   lang: nl

  consent:
    title: Cookieの同意
    description: >- 
      当社では、ドキュメントのコンテンツの品質を向上させ、サイトの有効性とニーズを分析するためにCookieを使用しています。同意していただくことで、ウェブサイトの改善にご協力いただけます。ありがとうございます!
    actions:
      - accept
      - reject
  analytics:
    provider: google
    property: G-EKZEH6QYWT

markdown_extensions:
  # Enables admonitions
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  # Enables emoji shortcodes like :+1: or :sunglasses:
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      options:
              custom_icons:
                - overrides/.icons

plugins:
  - glightbox
  - search
  - tags:
      tags_file: tags.md

nav:
  - ホーム: index.md
  - ドキュメント:
    - クイックスタート: quick-start.md
    - Openterfaceの理由: why-openterface-minikvm.md
    - 使用事例: use-cases.md
    - 仕様: specifications.md
    - 箱の中身: whats-in-the-box.md
    - 仕組み: how-it-works.md
    - 比較: comparison.md
    - よくある質問: faq.md
  - よくある質問: faq.md
  - 投稿:
    - https://openterface.com/blog/
  - について:
    - 連絡先: contact.md
    - 謝辞: acknowledgements.md
    - ポリシー:
      - プライバシーポリシー: privacy-policy.md
      - 利用規約: terms-of-service.md
      - 返品・払戻し・保証: return-refunds-warranty.md
  - サブレディット: https://www.reddit.com/r/Openterface_miniKVM/